/***
 *    ┓ ┏┏┓┓┏┳┓┏┓┳┓  ┳┓┳┳┳┓┳┓┓ ┏┓┏┓  ┏┓┏┓┏┓
 *    ┃┃┃┣┫┗┫┣┫┣┫┣┫━━┣┫┃┃┣┫┣┫┃ ┣ ┗┓━━┃ ┗┓┗┓
 *    ┗┻┛┛┗┗┛┻┛┛┗┛┗  ┻┛┗┛┻┛┻┛┗┛┗┛┗┛  ┗┛┗┛┗┛
 *                                         
 */



/*------------Global Properties-----------------*/
* {
    border: none;
    border-radius: 0px;
    font-family: Iosevka Nerd Font Propo;
    font-size: 12px;
    min-height: 0;
}

/*------------Window--------------------*/
#window{
    background: #2a2325;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

/*----------Waybar Window------------*/
window#waybar {
    background: rgba(42, 35, 37, 0.5);
}

/*-----------Tooltip--------------*/
tooltip {
  background: #505050;
  border: 2px solid #c1c1c1;
  border-radius: 12px;
}
tooltip label {
  color: #c1c1c1;
  padding: 6px;
}

/*---------Workspaces-----------------*/
#workspaces {
    background: #505050;
    margin: 5px 5px;
    padding: 8px 5px;
    border-radius: 16px;
    color: #c1c1c1;
}
#workspaces button {
    font-weight: bold;
    padding: 0px 5px;
    margin: 0px 3px;
    border-radius: 16px;
    color: transparent;
    background: #c1c1c1;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    font-weight: bold;
    background-color: #5f8787;
    color: #2a2325;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    font-weight: bold;
    background-color: #9b8d7f;
    color: #2a2325;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    font-weight: bold;
    background-color: #9b8d7f;
    color: #505050;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}


/*-----------SwayNC & Weather------------*/
#custom-swaync, #custom-weather {
    font-weight: bold;
    background: #505050;
    margin: 5px; 
    padding: 8px 16px;
    color: #c1c1c1;
}
#custom-weather {
    border-radius: 24px 10px 24px 10px;
}
#custom-swaync {
    border-radius: 10px 24px 10px 24px;
}

/*---------------Tray, Clock, Playerctl, Battery, Cpu, Temperature, Colorpicker, Memory, Idle_inhibitor----------------------*/
#tray, #pulseaudio, #network, #battery, #cpu, #temperature, #custom-colorpicker, #memory, #custom-pacman, #idle_inhibitor,
#custom-playerctl.backward, #custom-playerctl.play, #custom-playerctl.foward{
    background: #505050;
    font-weight: bold;
    margin: 5px 0px;
}
#tray, #pulseaudio, #network, #battery{
    color: #c1c1c1;
    border-radius: 10px 24px 10px 24px;
    padding: 0 20px;
    margin-left: 7px;
}
#clock {
    color: #c1c1c1;
    background: #505050;
    border-radius: 0px 0px 0px 40px;
    padding: 10px 10px 15px 25px;
    margin-left: 7px;
    font-weight: bold;
    font-size: 14px;
}

#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease; 
}


/*-----------Playerctl-------------------*/
#custom-playerctl.backward, #custom-playerctl.play, #custom-playerctl.foward {
    background: #505050;
    font-size: 22px;
}
#custom-playerctl.backward:hover, #custom-playerctl.play:hover, #custom-playerctl.foward:hover{
    color: #c1c1c1;
}
#custom-playerctl.backward {
    color: #5f8787;
    border-radius: 24px 0px 0px 10px;
    padding-left: 16px;
    margin-left: 7px;
}
#custom-playerctl.play {
    color: #9b8d7f;
    padding: 0 5px;
}
#custom-playerctl.foward {
    color: #5f8787;
    border-radius: 0px 10px 24px 0px;
    padding-right: 12px;
    margin-right: 7px
}
#custom-playerlabel {
    background: #505050;
    color: #c1c1c1;
    padding: 0 20px;
    border-radius: 24px 10px 24px 10px;
    margin: 5px 0;
    font-weight: bold;
}

/*-----------Group--------------*/
#group-utility {
    padding: 0px 5px;
    transition: all .3s ease; 
}



/*-------------Launcher--------------*/
#custom-launcher {
    color: #5f8787;
    background: #505050;
    margin: 0px 5px 0px 0px;
    padding: 0px 35px 0px 15px;
    border-radius: 0px 0px 40px 0px;
    font-size: 28px;
}

/*--------------Cpu, Termperature, Colorpicker, Memory, Idle_inhibitor----------------*/
#custom-colorpicker, #cpu, #temperature, #memory, #custom-pacman,#idle_inhibitor {
    background: #505050;
    font-size: 16px;
}

#cpu {
    color: #5f8787;
}

#memory {
    color: #9b8d7f;
}

#temperature {
    color: #5f8787;
}

#custom-pacman {
    color: #c1c1c1;
}

#idle_inhibitor {
    color: #5f8787;
}

#idle_inhibitor.activated {
    color: #c1c1c1;
}

#cpu {
    border-radius: 24px 0px 0px 10px;
    padding-left: 16px;
    padding-right: 7px;
    margin-left: 7px;
}

#temperature, #memory, #custom-pacman, #idle_inhibitor {
    padding-left: 7px;
    padding-right: 7px;
}

#custom-colorpicker {
    color: #5f8787;
    border-radius: 0px 10px 24px 0px;
    padding-right: 12px;
    padding-left: 7px;
    margin-right: 7px
}

/*---------------Expand---------------*/
#custom-expand {
    background: transparent;
    color: #c1c1c1;
    margin: 1px;
    font-size: 22px;
}

#custom-expand:hover {
    color: #5f8787;
}

