/***
 *    ┏┓┏┓┓ ┏┓┳┓┏┓
 *    ┃ ┃┃┃ ┃┃┣┫┗┓
 *    ┗┛┗┛┗┛┗┛┛┗┗┛
 *                
 */



/*--------Color definitions------------*/

* {
       background:       #15161e;
       background-alt:   #414868;
       background-alpha: #15161eb3;
       foreground:       #c0caf5;
       border-color:     #9fe044;
       selected:         #8db0ff;
       selected-text:    #15161e;
       active:           #bb9af7;
       urgent:           #f7768e;
}
